<clickhouse>
    <listen_host>::</listen_host>
    <tcp_port>9000</tcp_port>
    <http_port>8123</http_port>
    <path>{{ clickhouse_data_dir }}</path>
    <tmp_path>{{ clickhouse_tmp_dir }}</tmp_path>
    <user_files_path>{{ clickhouse_data_dir }}/user_files</user_files_path>
    <log>{{ clickhouse_log_dir }}/clickhouse-server.log</log>
    <errorlog>{{ clickhouse_log_dir }}/clickhouse-server.err.log</errorlog>
    <!-- Other ClickHouse settings -->
    <users_config>{{ clickhouse_base_dir }}/etc/clickhouse-server/users.xml</users_config>
    <user_directories>
         <local_directory>
            <!-- Path to folder where users created by SQL commands are stored. -->
            <path>{{ clickhouse_base_dir }}/access/</path>
        </local_directory>
    </user_directories>
</clickhouse>