{{ log_dirs }} {
    su {{ oracle_user }} {{ oracle_install_group }}
    compress
    copytruncate
    daily
    missingok
    notifempty
    rotate {{ log_days_to_keep }}
    size {{ log_size_before_rotate }}
}
