[defaults]
deprecation_warnings                    = False
retry_files_enabled                     = False
#display_skipped_hosts                   = False
#stdout_callback                         = debug
#stderr_callback                         = debug
#allow_world_readable_tmpfiles           = true
#remote_tmp                              = /tmp/ansible
interpreter_python                      = /usr/libexec/platform-python
ansible_python_interpreter              = /usr/libexec/platform-python
host_key_checking                       = False
ansible_user                            = spane
collections_on_ansible_version_mismatch = ignore

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-%h-%p-%r
