[server]
http_addr = {{ grafana_interface }}
http_port = {{ grafana_http_port }}
domain = {{ grafana_domain }}
root_url = {{ grafana_root_url }}

[database]
type = {{ grafana_database_type }}
{% if grafana_database_type != 'sqlite3' %}
host = {{ grafana_database_host }}
name = {{ grafana_database_name }}
user = {{ grafana_database_user }}
password = {{ grafana_database_password }}
{% endif %}

[security]
admin_user = {{ grafana_admin_user }}
admin_password = {{ grafana_admin_password }}
secret_key = {{ grafana_secret_key }}
disable_gravatar = {{ grafana_disable_gravatar | string | lower }}

[users]
allow_sign_up = {{ grafana_allow_sign_up | string | lower }}

{% if grafana_anonymous_enabled %}
[auth.anonymous]
enabled = {{ grafana_anonymous_enabled | string | lower }}
{% if grafana_anonymous_enabled %}
org_role = {{ grafana_anonymous_org_role }}
{% endif %}
{% endif %}

{% if grafana_smtp_enabled %}
[smtp]
enabled = true
host = {{ grafana_smtp_host }}
user = {{ grafana_smtp_user }}
password = {{ grafana_smtp_password }}
from_address = {{ grafana_smtp_from_address }}
{% endif %}

[log]
mode = {{ grafana_log_mode }}
level = {{ grafana_log_level }}

[analytics]
reporting_enabled = false
check_for_updates = true

[paths]
provisioning = {{ grafana_provisioning_dir }}
plugins = {{ grafana_plugins_dir }}