{{ grafana_log_dir }}/logs/* {
    su {{ grafana_user }} {{ grafana_group }}
    compress
    copytruncate
    daily
    missingok
    notifempty
    rotate {{ log_days_to_keep }}
    size {{ log_size_before_rotate }}
}